.body{background: url("../images/background.jpg");}

.container{float: left;}

.extraspace{margin-bottom: 20px;
			margin-top: 20px;}

.panel-footer{background-color: white;
              text-align: center;}

.btn{border-color: #005073;}

.btn-primary {background-color: #005073;}

.center {position: center;}


.navbar-header, .navbar-default, .navbar {background-color: #4cbb17;}

.panel-title {color: #4cbb17;}

.navbar-brand, .nav, .navbar-nav, .navbar-right, .navbar-collapse, .navbar, .navbar-header, .navbar-default, #bs-example-navbar-collapse-1, ul, li, a {color: #ffffff !important;}

p, .panel-footer, #fact-display, .panel-body {color: #4cbb17;}

h1, h2, h3, .panel-title, .button {color: #005073;}
