.container{float: left;}

.extraspace{margin-bottom: 20px;
			margin-top: 20px;}

.panel-footer{background-color: white;
              text-align: center;}

.btn{border-color: #777;}

.btn-primary {background-color: #777;}

.center {position: center;}